<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="it.unitn.disi.zanshin.model.eca.presentation.EcaModelWizardID"
            name="%_UI_EcaModelWizard_label"
            class="it.unitn.disi.zanshin.model.eca.presentation.EcaModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EcaModelFile.gif">
         <description>%_UI_EcaModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="it.unitn.disi.zanshin.model.eca.presentation.EcaEditorID"
            name="%_UI_EcaEditor_label"
            icon="icons/full/obj16/EcaModelFile.gif"
            extensions="eca"
            class="it.unitn.disi.zanshin.model.eca.presentation.EcaEditor"
            contributorClass="it.unitn.disi.zanshin.model.eca.presentation.EcaActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="it.unitn.disi.zanshin.model.gore.presentation.GoreModelWizardID"
            name="%_UI_GoreModelWizard_label"
            class="it.unitn.disi.zanshin.model.gore.presentation.GoreModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/GoreModelFile.gif">
         <description>%_UI_GoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="it.unitn.disi.zanshin.model.gore.presentation.GoreEditorID"
            name="%_UI_GoreEditor_label"
            icon="icons/full/obj16/GoreModelFile.gif"
            extensions="gore"
            class="it.unitn.disi.zanshin.model.gore.presentation.GoreEditor"
            contributorClass="it.unitn.disi.zanshin.model.gore.presentation.GoreActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eeat.model.LTL.presentation.LTLModelWizardID"
            name="%_UI_LTLModelWizard_label"
            class="org.eeat.model.LTL.presentation.LTLModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LTLModelFile.gif">
         <description>%_UI_LTLModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eeat.model.LTL.presentation.LTLEditorID"
            name="%_UI_LTLEditor_label"
            icon="icons/full/obj16/LTLModelFile.gif"
            extensions="ltl"
            class="org.eeat.model.LTL.presentation.LTLEditor"
            contributorClass="org.eeat.model.LTL.presentation.LTLActionBarContributor">
      </editor>
   </extension>

</plugin>
