<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://disi.unitn.it/zanshin/1.0/eca"
            class="it.unitn.disi.zanshin.model.eca.EcaPackage"
            genModel="META-INF/zanshin.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://disi.unitn.it/zanshin/1.0/gore"
            class="it.unitn.disi.zanshin.model.gore.GorePackage"
            genModel="META-INF/zanshin.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://disi.unitn.it/zanshin/1.0/ltl"
            class="org.eeat.model.LTL.LTLPackage"
            genModel="META-INF/zanshin.genmodel"/>
   </extension>

</plugin>
